.container {
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outerContainer {
  background-color: rgb(12, 91, 136);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.innerContainer {
  width: 90vw;
  display: flex;
  background-color: rgb(12, 91, 136);
  margin-bottom: 10px;
}
