.container {
  padding-top: 1%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.sma {
  float: right;
}

.error {
  margin-left: 2%;
  color: rgb(181, 34, 34);
  font-weight: bold;
  font-style: italic;
  padding-bottom: 2%;
  display: none;
}

.success {
  display: none;
}

.inputContainer3 {
  padding-left: 2%;
  display: flex;
}
